# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente/local
.env
.env.*

# Build e cache
.cache/
dist/
build/
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# TypeScript
*.tsbuildinfo
